---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

{% assign m = page.date | date: "%-m" %}
<span class="date">
    <time datetime="{{ page.date | date: "%-d de" }}">
      {{ page.date | date: "%-d de" }}
      {% case m %}
        {% when '1' %}enero
        {% when '2' %}febrero
        {% when '3' %}marzo
        {% when '4' %}abril
        {% when '5' %}mayo
        {% when '6' %}junio
        {% when '7' %}julio
        {% when '8' %}agosto
        {% when '9' %}septiembre
        {% when '10' %}octubre
        {% when '11' %}noviembre
        {% when '12' %}diciembre
      {% endcase %}
      {{ page.date | date: "de %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tags in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tags | slugify }}">{{ tags }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
